---
import './css/vendor.css'
import './css/styles.css'
---

<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact - Jesus</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>


<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">
            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="images/logo.svg" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav">
    
                    <ul class="s-header__menu-links">
                        <li><a href="index.html">Career</a></li>
                        <li><a href="index.html">Expertise</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul> <!-- s-header__menu-links -->

                    <div class="s-header__contact">
                        <a href="contact.html" class="btn btn--primary s-header__contact-btn">Let's Work Together</a>                        
                    </div> <!-- s-header__contact -->
    
                </nav> <!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->
        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

               <section class="s-pageheader pageheader">
                    <div class="row">
                        <div class="column xl-12">
                            <h1 class="page-title">
                                <span class="page-title__small-type text-pretitle">Contact</span>
                                Get In Touch
                            </h1>                            
                        </div>
                    </div>
               </section> <!--pageheader -->  

               <section class="s-pagecontent pagecontent">

                    <div class="row pageintro">
                        <div class="column xl-6 lg-12">
                            <h2 class="text-display-title">Let's improve together.</h2>
                        </div>
                        <div class="column xl-6 lg-12 u-flexitem-x-right">
                            <p class="lead">
                            Here are some of my skills, those I would like to bring to your company. 
                            </p>
                        </div>                       
                    </div> <!-- pageintro -->   
                    
                    <div class="row pagemedia">
                        <d class="column xl-12">
                            <figure class="page-media">                                
                                <img src="images/thumbs/contact/contact-1200.jpg" 
                                     srcset="images/thumbs/contact/contact-2400.jpg 2400w, 
                                             images/thumbs/contact/contact-1200.jpg 1200w, 
                                             images/thumbs/contact/contact-600.jpg 600w" sizes="(max-width: 2400px) 100vw, 2400px" alt="">
                            </figure>
                        </d>
                    </div> <!-- pagemedia --> 

                    <div class="row width-narrower pagemain">
                        <div class="column xl-12">
                            <h2>Skills</h2>

                            <div class="row">
                                <div class="column xl-6 md-12 contact-cta">     
                                    <div>
                                        <ul>
                                            <li>
                                                Communication:
                                        
                                                Proficient in verbal and written communication
                                                Skilled in active listening and conveying complex ideas clearly
                                                Experience in delivering presentations and public speaking
                                            </li>
                                            <li>
                                                Leadership:
                                        
                                                Demonstrated ability to motivate and inspire team members
                                                Proven track record of leading successful projects
                                                Strong decision-making skills and accountability
                                            </li>
                                            <li>
                                                Adaptability:
                                        
                                                Flexible approach to work and ability to thrive in fast-paced environments
                                                Resilient in the face of challenges and adept at embracing change
                                                Quick learner with a proactive attitude towards new situations
                                            </li>
                                            <li>
                                                Problem-Solving:
                                        
                                                Analytical thinker with a creative approach to finding solutions
                                                Experience in identifying issues, analyzing data, and implementing effective strategies
                                                Proven ability to troubleshoot and resolve complex problems
                                            </li>
                                            <li>
                                                Time Management:
                                        
                                                Effective at prioritizing tasks and managing deadlines
                                                Proficient in organizing workflows and optimizing productivity
                                                Skilled in delegation and efficient utilization of resources
                                            </li>
                                            <li>
                                                Emotional Intelligence:
                                        
                                            High level of self-awareness and empathy
                                            Strong interpersonal skills and ability to build rapport with diverse stakeholders
                                            Experience in managing conflicts and fostering positive relationships
                                            </li>
                                            <li>
                                                Collaboration:
                                        
                                            Team player with a collaborative mindset
                                            Skilled in working effectively with cross-functional teams
                                            Proven ability to contribute to a supportive and inclusive work environment
                                            </li>
                                        </ul>
                                    </div>
                                </div> 
                                <div class="column xl-5 md-12 u-flexitem-x-right">

                                    <div class="contact-block">
                                        <h6>Follow On Social</h6>
                                        <a href="https://www.linkedin.com/in/jesus-ruiz-hernandez-b411042aa/">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                                            <span class="u-screen-reader-text">LinkedIn</span>
                                        </a>
                                    </div>

                                    <div class="contact-block">
                                        <h6>Email</h6>
                                        <a href="mailto:#0">jesus.ruiz0216@alumnos.udg.mx</a>
                                    </div>

                                    <div class="contact-block">
                                        <h6>Phone</h6>
                                        <ul class="contact-list">
                                            <li><a href="tel:197-543-2345">+52 1 33 2963 9114</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>                        
                    </div> <!-- end pagemain -->

               </section> <!-- pagecontent -->

        </section> <!-- s-content-->

        <!-- # footer 
        ================================================== -->
        <footer class="s-footer">
            <div class="row s-footer__content">
                <div class="column xl-6 lg-6 md-12 s-footer__block s-footer__about">                    
                    <h3>About Jesus</h3>
                    <p>
                    Let's work together and make this company grow.
                    </p>               
                </div>                
                <div class="column xl-3 lg-6 md-12 s-footer__block s-footer__site-links">
                    <h3>Site Links</h3>
                    <ul class="link-list">
                        <li><a href="index.html">Career</a></li>
                        <li><a href="index.html">Expertise</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                
            </div>    
            
        </footer> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="./js/plugins.js"></script>
    <script src="./js/main.js"></script>	

</body>
</html>